*.suo
*.user
bin/
obj/
.vs/
*.DotSettings.user
.idea/
*.received.*
nugets/
src/.learningtransport/
src/temp/
TestResults
/src/Attachments.Sql.Benchmarks/BenchmarkDotNet.Artifacts
/src/Attachments.FileShare.Benchmarks/BenchmarkDotNet.Artifacts
*/PersisterBenchmarks-*.*
/BenchmarkDotNet.Artifacts/results
/BenchmarkDotNet.Artifacts.FileShare/results
/BenchmarkDotNet.Artifacts.Sql/results
